<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
          *ngFor="let odd of oddNumbers"
            [ngClass]="{odd:odd ===1}"
            class="list-group-item">
            {{ odd }}
          </li>
        </div>
        <div *appUnless="onlyOdd">
          <li
          *ngFor="let even of evenNumbers" 
            [ngStyle]="{backgroundColor: even === 2 ? 'yellow' : 'green'}"
            class="list-group-item">
            {{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>please style me!</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">please style me with renderer</p>
      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->
    </div>
  </div>
</div>
